.categories ul{
    list-style-type: none;
}
.categories ul li{
    margin: 3px 0;
}
.categories > ul{
    padding: 0;
}
.categories ul li a{
    color: #333;
    position: relative;
    display:block;
}
.categories ul li a .cat-count{
    float:right;
}
